body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #6C757D;
  background-color: #eadfc9;
  text-alignment: center;
}

h1, h2, h3, h4 {
  color: #343a40
  text-alignment: center;
}

hr {
  border-width: 1px;
  border-color: rgba(255, 249, 251, 0.4);
}

a {
  color: #f3a14b;
}

a:hover {
  color: #93ada4;
  text-decoration: none;
}

@media (max-width: 576px) {
  .img-profile {
    max-width: 12rem;
    max-height: 12rem;
    border: 0.5rem solid rgba(255, 249, 251, 0.5);
  }
}

footer {
  text-align: center;
  font-size: 0.9rem;
  background-color: #eadfc9;
}


