body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #6C757D;
  background-color: #eadfc9;
  text-align: center;
}

h1, h2, h3, h4 {
  color: #343a40;
  text-align: center;
}

hr {
  border-width: 1px;
  border-color: rgba(255, 249, 251, 0.4);
}

a {
  color: #f3a14b;
  text-align: right;
}

a:hover {
  color: #93ada4;
  text-decoration: none;
}

img (max-width: 576px) {
  .img-profile {
    max-width: 12rem;
    max-height: 12rem;
    border: 0.5rem solid rgba(255, 249, 251, 0.5);
  }
}

footer {
  text-align: center;
  font-size: 0.9rem;
  background-color: #eadfc9;
}

article, ul, ol, li {
  text-align: center;
  margin: 10, 200, 10, 200
}

p, li {
  text-align: center;
  margin: 10, 200, 10, 200
}


