body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #6C757D;
  background-color: #f8f9fa;
}

h1, h2, h3, h4 {
  color: #343a40
}

hr {
  border-width: 1px;
  border-color: rgba(255, 249, 251, 0.4);
}

a {
  color: #f3a14b;
}

a:hover {
  color: #93ada4;
  text-decoration: none;
}

header.masthead {
  padding-top: 6rem;
  padding-bottom: 3rem;
  text-align: center;
  background-color: #eadfc9;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  font-family: 'Anton', sans-serif;
  font-weight: 450;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #dc7646;
}
.masthead-full-name {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size: 2.75rem;
}
.last-name-highlight {
  color: #f3a14b;
}
@media (max-width: 576px) {
  .masthead-full-name {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
  }
}

.bg-primary {
  background-color: #eadfc9 !important;
}

.img-profile {
  max-width: 15rem;
  max-height: 15rem;
  border: 0.5rem solid rgba(255, 249, 251, 0.5);
}

@media (max-width: 576px) {
  .img-profile {
    max-width: 12rem;
    max-height: 12rem;
    border: 0.5rem solid rgba(255, 249, 251, 0.5);
  }
}

.rounded-circle {
  border-radius: 50% !important;
}

.subheading {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
}

.cv-titles {
  margin-bottom: 0.5rem;
  font-family: 'Anton', sans-serif;
  font-weight: 450;
  line-height: 1.2;
  color: #343a40;
}

.font-italic {
  font-style: italic !important;
}

.text-primary {
  color: #f3a14b !important;
}

.text-dark {
  color: #343a40 !important;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  background-color: #6c757d;
  color: #f8f9fa;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.cv-social-icons .cv-social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  background-color: #6c757d;
  color: #f8f9fa;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: #dc7646;
}

.dev-icons {
  font-size: 3rem;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  background-color: #eadfc9;
}

/* CV navbar styling */

.navbar-dark .navbar-brand {
  color: #fff;
}
.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
  color: #f3a14b;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #93ada4;
}
.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #93ada4;
}
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-dark .navbar-text a {
  color: #fff;
}
.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
  color: #93ada4;
}
